<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Android TV / Google TV support without restricting phone/tablet installs. -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />

    <application>
        <activity android:name=".MainActivity">
            <!-- Exposes the debug build in the Android TV / Google TV launcher. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
